fastapi
uvicorn
python-dotenv
pydantic-settings
langchain-core
langchain-google-genai
langchain-openai
langchain-ollama
websockets
sqlmodel
asyncpg
reportlab
pandas
openpyxl
httpx
python-multipart
tabulate
aiomysql
cryptography
pymysql
psycopg2-binary
passlib[bcrypt]
bcrypt<4.0.0
python-jose[cryptography]
python-multipart